    <style>
    li {
        margin-bottom: 1em;
    }
    </style>
    <hr>
    <nav class="menu">
        <h1>Projects &amp; Explorations</h1>

        <h2>2025</h2>
        <ul>
            <li><a href="/p/copenhatgen/">AI Country Song - Copenhatgen</a><span></span></li>
            <li><a href="/p/portfolio-website/">Portfolio Website</a><span> -- meta!</span></li>
        </ul>

        <h2>2024</h2>
        <ul>
            <!-- <li><a href="/p/parking-payment-system.html">Parking Payment System</a></li> -->
            <!-- <li><a href="/p/business-horoscope-tool.html">Business Horoscope Tool</a></li> -->
            <!-- <li><a href="/p/cloud-animation-project.html">Cloud Animation Project</a></li> -->
            <!-- <li><a href="/p/sudoku-puzzle-book/">Sudoku Puzzle Book</a></li> -->
            <!-- <li><a href="/p/stocznia-3d-model.html">Stocznia 3D Model</a></li> -->
            <li><a href="/p/demo-dj-mix-for-open-call/">Demo DJ Mix For Open Call</a></li>
            <!-- <li><a href="/p/happy-gif-popup.html">Happy GIF Popup Tool</a></li> -->
            <!-- <li><a href="/p/symmetrical-bitstring-visualizer.html">Symmetrical Bitstring Visualizer</a></li> -->
            <!-- <li><a href="/p/british-national-grid-analytics.html">British National Grid Analytics</a></li> -->
            <!-- <li><a href="/p/aws-camera-monitoring.html">AWS Camera Monitoring</a></li> -->
        </ul>

    </nav>